# ------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ------------------------------
# OS-specific files
.DS_Store

# ------------------------------
# Environment / Dependency managers
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
poetry.lock

# ------------------------------
# Build / Packaging
.Python
build/
dist/
downloads/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ------------------------------
# Installer / Debug / Logs
pip-log.txt
pip-delete-this-directory.txt
*.log
celerybeat-schedule

# ------------------------------
# Testing / Coverage / Static analysis
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/

# ------------------------------
# Sphinx documentation
docs/_build/
docs/source/_autosummary
docs/source/pages/_autosummary/
docs/source/pages/api/


# ------------------------------
# Documentation / Static Sites
/site

# ------------------------------
# Editors / IDEs / Tools
tutorials/.ipynb_checkpoints/  # Jupyter in tutorials
.ipynb_checkpoints  # Jupyter
.spyderproject
.spyproject
.ropeproject

# ------------------------------
# Web frameworks
instance/
.webassets-cache
local_settings.py
db.sqlite3

# ------------------------------
# Other project-specific
*.manifest
*.spec
*.mo
*.pot
*.sage.py
.scrapy
